div{
border: 1px solid black;
}
#page {
margin: 0ex 9ex 0ex 9ex;
width: 1019.50px;
height: 2700.50px;
}

#header{
height: 115px;
background-image: url('../artwork/fondo_logo.png');
}
.clean{
height: 260.50px;
border: 1px solid white;
background-image:url('../artwork/fondo_c.png');
}

.clean h2{
padding: 0ex 0ex 0ex 3ex;
font-size:40px;
font-family:Arial;
font-weight:bold;
color: rgb(14,61,79);
}
.pag{
display: inline;
}

#cant{
display: inline-block;
}
.clean h3{
padding: 0ex 0ex 0ex 6ex;
font-size:20px;
font-family:Arial;  
font-weight:bold;
color: red;
}

.clean h4{
padding: 0ex 0ex 0ex 7ex;
font-size:18px;
font-family:Arial;
font-weight:bold;
color: rgb(127,127,127);
}
.arrow{
float:right;
}
.margin{
background-color:rgb(211,190,127);
height: 7px;
}
.black{
color: black;
}
#menu{
padding: 0 1.5ex 0 2ex;
margin: 6ex 4ex 3ex 0;
float: right; 
font-size:14px;
font-family:Arial;
background-color: rgb(226,226,226);
font-weight:bold;
display inline-block;
width: 230px;
height: 1200px;
}
.Product {
border: 1px solid gray;
width: 310px;
height: 260px;
display: inline-block;
}
.pest{
display: inline-block;
}
.opcion{
border: 1px solid white;
background-color: rgb(14,61,79);
height:170px;
}

.opcion h5{
padding: 0 0 0 2ex;
font-size: 14px;
font-family: Arial;
font-weight:bold;
color: rgb(211,190,127);
}
.opcion h6{
font-size: 10px;
font-family: Verdana;
font-weight:regular;
padding: 0ex 0ex 0ex 75ex;
color: white;
}
.last{
color: white;
border: 1px solid white;
background-color: rgb(97,179,181);
padding: 1ex 0 0 3ex;
font-size: 14px;
font-family:Arial;
font-weight:bold;
display: inline-block;
height:30px;
width:250px;
}
.best{
border: 1px solid white;
background-color: rgb(14,61,79);
color: white;
padding: 1ex 0 0 3ex;
font-size: 14px;
font-family:Arial;
font-weight:bold;
display: inline-block;
height:30px;
width:250px;
}
.Text{
color:rgb(255,255,255);
font-size:14px;
font-family:Arial;
font-weight:bold; 
}

.Text h6{
padding: 0 0 0 0;
color:rgb(211,190,127);
font-size:14px;
font-family:Arial;
font-weight:bold; 
}

#menu h3{
padding: 1ex 0 1ex 2ex;
font-size:14px;
font-family:Arial;
font-weight:bold;
background-color: black;
color: white;
border-radius: 230px;

}
.area{
width: 650px;
margin: 4ex 1ex 1ex 2ex;

}
#products{
margin: 0 2ex 1ex 0;
display: inline-block;
height:1150px;
width: 700px;
}

.logo{
height:111.50px;
}
.main{
padding: 1ex 3ex 2ex 1ex;
background-color: rgb(14,61,79);
list-style-type: none;  
}

.main li{
font-size: 20px;
font-family:Arial; 
font-weight:bold;
background-color: rgb(14,61,79);
color: rgb(255,255,255);
display: inline;
padding: 0 1ex 0 1ex;
}

.Product{
margin:2ex 2ex 2ex 2ex;
font-family:Arial;
font-size: 14px;
font-weight:bold;
}
.Detail{
border: 1px solid gray;
padding: 2.5ex 2ex 0 2ex;
font-size: 14px;
font-family:Arial;
font-weight:bold;
color:black;
height: 27px;
background-color: rgb(226,226,226);
}

.Detail a{
color:black;
text-decoration:none;
}

.main a{
color: rgb(255,255,255);
text-decoration: none;

}

.main a:hover {
padding: 1.5ex 1.5ex 1.5ex 1.5ex;
background-color: rgb(37,81,98);
}

#menu h5{
font-family:Verdana;
font-size: 10px;
font-weight:Regular;
color: red;
}

#footer{
height:850px;
margin: 23ex 0 0 0;
background-color: rgb(14,61,79);
}
.title{
padding:4ex 0  0  4ex;
height:70px;
}

.lasso{
margin:0 1ex 0 3ex;
height:500px;
width:280px;
display: inline-block;
}

.Text{
padding: 0 0 0 0;
background-color: rgb(14,61,79);
}

.number li{
padding:2ex 2ex 2ex 2ex;
font-family: Arial;
font-size: 20px;
font-weight:bold;
color:white;
display:inline-block;
background-color: rgb(14,61,98);

}
